
Write a program to print the triangle

In [1]:
n=int(input("Enter number:"));
for i in range(n+1):
    c=i
    for j in range(1,i+1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:2

1
2 3

Write a program to print the triangle

In [2]:
n=int(input("Enter number:"));
for i in range(n+1):
    for j in range(i):
        print ('* ', end="")
    print('')

Enter number:4

*
* *
* * *
* * * *

Write a program to print the triangle

In [3]:
for i in range(n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

4
3 4
2 3 4
1 2 3 4

Write a program to print the triangle

In [5]:
n=int(input("Enter number:"));
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print('')

Enter number:5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Write a program to print the triangle

In [6]:
n=int(input("Enter number:"));
for i in range(n):
    for j in range(i+1,n+1,1):
        print(j, end=" ")
    print('')
for i in range(2,n+1):
    c=n-i+1
    for j in range(n,n-i,-1):
        print(c, end=" ")
        c=c+1
    print('')

Enter number:6
1 2 3 4 5 6
2 3 4 5 6
3 4 5 6
4 5 6
5 6
6
5 6
4 5 6
3 4 5 6
2 3 4 5 6
1 2 3 4 5 6

Find the length of a string without using len functions

In [7]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: hiii
Length of the input string is: 4

Find the no of words and characters in a string

In [8]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:Hiiiiii
Number of words in the string:
1
Number of characters in the string:
7

Find the no of occurrences of a word in a string`

In [10]:
string = input("Enter string:")
substring = input("Enter substring:")
count = string.count(substring)
print("The count is:", count)

Enter string:hello
Enter substring:ello
The count is: 1